@import url('https://fonts.googleapis.com/css?family=Lobster');
.heading h1 {
	text-align: center;
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Roboto Slab', serif;
}

.paragraph p {
	font-family: 'Lora', serif;
}

.paragraphTwo p {
	font-family: 'Lobster', cursive;

}