@import url(reset.css);
html {
	height: 100%;
}
body {
	background-image: url(../img/wave.jpg);
	background-size: cover;
	background-position: center;
}
.page {
	margin-top: 30px;
	margin-bottom: 30px;
	box-sizing: border-box;
}
form {
	width: 50%;
	position: center;
	margin: auto;
	background-color: rgb(243, 230, 255);
	padding: 5% 50px 5% 50px;
	border: 1px solid grey;
	border-radius: 20px;
}
label, input {
	display: block;
	width: 100%;
    line-height: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
}
input {
	height: 25px;
}
input[type="radio"] {
	display: inline-block;
	width: 30px;
}
.rad {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}	
input[type="checkbox"] {
	display: inline-block;
	width: 20px;
}
.agreements {
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: rgb(230, 204, 255);
	border: 2px solid rgb(181, 102, 255);
	border-radius: 20px;
	padding: 20px;
}
span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
}
input[type="submit"] {
	height: 70px;
	width: 200px;
	border-radius: 20px;
	background-color: rgb(230, 204, 255);
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;;
}
input[type="submit"]:hover {
	background-color: rgb(181, 102, 255);
	color: rgb(255, 204, 255);
}