@font-face {
	src: url(../font/12529.otf);
	font-family: 'Gulim';
	font-weight: normal;

}

.heading h1 {
	text-align: center;
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Gulim';

	
}

.paragraph p {
	font-family: 'Gulim';
}

.paragraphTwo p {
	font-family: 'Gulim';
}