@import url(reset.css);	{

}
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Vollkorn|Yanone+Kaffeesatz');

.heading {
	height: 70px;
	background-color: rgb(255, 236, 176);
	margin-bottom: 50px;
}
.header {
	text-align: left;
	font-size: 30px;
	padding-top: 25px;
	padding-left: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.quotes {
	width: 80vw;
	margin: auto;
	min-height: 500px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.quote {
	width: calc((100% - 200px)/3);
}
.name {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	margin-bottom: 15px;
	font-family: 'Rubik Mono One', sans-serif;
}
p {
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Vollkorn', serif;
}
.image1 {
	background-image: url(../img/sokrat.jpg);
	background-size: cover;
	background-position: center;
	height: 80px;
	border: 1 solid black;
	border-radius: 50px;
	margin-bottom: 15px;
	padding-bottom: 100%;
}
.image2 {
    background-image: url(../img/gesse.jpg);
	background-size: cover;
	background-position: center;
	height: 80px;
	border: 1 solid black;
	border-radius: 50px;
	margin-bottom: 15px;
	padding-bottom: 100%;
}
.image3 {
    background-image: url(../img/ceneka.jpg);
	background-size: cover;
	background-position: center;
	height: 80px;
	border: 1 solid black;
	border-radius: 50px;
	margin-bottom: 15px;
	padding-bottom: 100%;
}
.copyright {
	height: 70px;
	background-color: rgb(255, 236, 176);
	margin-top: 50px;

}
.footerText {
	text-align: left;
	padding-top: 25px;
	padding-left: 20px;
	text-align: center;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}